# NIMBY vs. YIMBY: geospatial analysis of new construction projects in USA

TODO something like:
* Establish connection between pandas and dolt running in server mode.
* For each state/county/ZIP code (across some timeframe):
    * Compute a number of first property sales.
        * Absolute number
        * Per unit of area
        * Per unit of population
    * Compute percentage deviation from the mean.
        * Per unit of area
        * Per unit of population
* Do some dataviz to generate a nice, big chart and write it up.

In [1]:
import pandas as pd
import numpy as np

In [4]:
import mysql.connector as connection
import pandas as pd
from sqlalchemy import create_engine

db_connection_str = 'mysql+mysqlconnector://rl:trustno1@localhost/us_housing_prices_v2'
db_connection = create_engine(db_connection_str)

query = "SELECT * FROM `sales` LIMIT 10;"
result_df = pd.read_sql(query, db_connection)

In [3]:
result_df

,state,property_zip5,property_street_address,property_city,property_county,property_id,sale_datetime,property_type,sale_price,seller_1_name,...,land_assessed_date,seller_1_state,seller_2_state,buyer_1_state,buyer_2_state,total_assessed_value,total_appraised_value,land_appraised_value,building_appraised_value,land_type
0,AZ,85132,21510 E SOLEDAD LN,FLORENCE,PINAL,206310220,2018-02-01,RESIDENTIAL,220000,None,...,None,None,None,None,None,None,None,None,None,None
1,AZ,85138,21510 N DUNCAN DR,MARICOPA,PINAL,9AAA7385-6FB8-4416-8B49-E233154BD86A,2019-05-16,RESIDENTIAL,0,None,...,None,None,None,None,None,None,None,None,None,None
2,AZ,85138,21510 N DUNCAN DR,MARICOPA,PINAL,512210320,2022-02-16,RESIDENTIAL,0,None,...,None,None,None,None,None,None,None,None,None,None
3,AZ,85145,21511 E PROSPECTOR PL,RED ROCK,PINAL,410510920,2021-08-01,RESIDENTIAL,290000,None,...,None,None,None,None,None,None,None,None,None,None
4,AZ,85145,21511 E TREASURE RD,RED ROCK,PINAL,6A9D8FCE-1521-4296-BF77-5DF976CC3A36,2019-12-20,None,0,None,...,None,None,None,None,None,None,None,None,None,None
5,AZ,85145,21511 E TREASURE RD,RED ROCK,PINAL,410511500,2021-04-01,RESIDENTIAL,308531,None,...,None,None,None,None,None,None,None,None,None,None
6,AZ,85139,21511 N GREENLAND PARK DR,MARICOPA,PINAL,512054230,2017-08-28,RESIDENTIAL,0,None,...,None,None,None,None,None,None,None,None,None,None
7,AZ,85138,21511 N KEYSTONE DR,MARICOPA,PINAL,1013E713-A052-4040-B45E-021F360AA92C,2015-03-01,RESIDENTIAL,145000,None,...,None,None,None,None,None,None,None,None,None,None
8,AZ,85138,21511 N KEYSTONE DR,MARICOPA,PINAL,512210020,2021-12-13,RESIDENTIAL,0,None,...,None,None,None,None,None,None,None,None,None,None
9,AZ,85145,21512 E FOUNDERS RD,RED ROCK,PINAL,410505110,2018-03-01,RESIDENTIAL,182000,None,...,None,None,None,None,None,None,None,None,None,None