# NIMBY vs. YIMBY: geospatial analysis of new construction projects in USA

TODO something like:
* Establish connection between pandas and dolt running in server mode.
* For each state/county/ZIP code (across some timeframe):
    * Compute a number of first property sales.
        * Absolute number
        * Per unit of area
        * Per unit of population
    * Compute percentage deviation from the mean.
        * Per unit of area
        * Per unit of population
* Do some dataviz to generate a nice, big chart and write it up.

In [6]:
import mysql.connector as connection
import pandas as pd
from sqlalchemy import create_engine

db_connection_str = 'mysql+mysqlconnector://rl:trustno1@localhost/us_housing_prices_v2'
db_connection = create_engine(db_connection_str)

query = """
SELECT a.*
FROM `sales` a
INNER JOIN
(
    SELECT   `property_id`, `state`, `property_zip5`, `property_county`, MIN(`sale_datetime`) AS first_sale_datetime
    FROM     `sales`
    WHERE    `sale_datetime` LIKE "2021%"
    GROUP BY `property_id`
) b ON a.property_id = b.property_id AND a.sale_datetime = b.first_sale_datetime;
"""

result_df = pd.read_sql(query, db_connection)
#result_df = pd.read_csv('/root/2021.csv', low_memory=False)
result_df = result_df[['state', 'property_zip5', 'property_county', 'sale_datetime', 'property_id']]
result_df.to_csv('/root/2021.csv')
result_df

,state,property_zip5,property_county,sale_datetime,property_id
0,AZ,85120,PINAL,2021-02-01,101260040
1,AZ,85123,PINAL,2021-07-01,408052390
2,AZ,85122,PINAL,2021-07-01,505850440
3,AZ,85122,PINAL,2021-12-28,CBA9126D-C562-42BC-A9AD-C547AEC8C635
4,AZ,85122,PINAL,2021-10-01,505785960
...,...,...,...,...,...
4610814,WI,None,VILAS,2021-09-29,PRCL10-3542
4610815,WI,None,RACINE,2021-07-01,PRCL010-04-20-04-161-000
4610816,WI,None,WALWORTH,2021-11-08,PRCLFD 2900001B
4610817,WI,None,ONEIDA,2021-02-24,PRCLLY-536-7
4610818,WI,None,CLARK,2021-03-22,PRCL265.0470.000

https://stackoverflow.com/questions/11683712/sql-group-by-and-min-mysql

In [26]:
counts_by_state = result_df['state'].value_counts()
df_counts_by_state = pd.DataFrame.from_records([counts_by_state.to_dict()]).transpose()
df_counts_by_state

          0
FL  1617210
MD   438105
NY   313077
NC   261735
NJ   234884
WI   212881
CA   197501
IN   180955
CO   156033
MA   112573
OH   111984
IL   106047
PA   103678
TX    86119
VA    79900
WA    64678
MN    60587
GA    55565
AZ    41205
TN    39878
SC    30716
OK    28691
MO    19020
MI    14248
OR    13467
DC    10531
NV     8068
NE     7378
DE     3331
IA      774

In [27]:
counts_by_county = result_df['property_county'].value_counts()
df_counts_by_county = pd.DataFrame.from_records([counts_by_county.to_dict()]).transpose()
df_counts_by_county

                    0
LEE            155915
LOS ANGELES    116226
PALM BEACH     103406
COOK COUNTY     98094
MIAMI-DADE      88775
...               ...
DUBOIS              1
Halifax             1
NANTUCKET           1
OWEN                1
RUSK, TOWN OF       1

[364 rows x 1 columns]

In [29]:
counts_by_zip = result_df['property_zip5'].value_counts()
df_counts_by_zip = pd.DataFrame.from_records([counts_by_zip.to_dict()]).transpose()
df_counts_by_zip

           0
34953  19619
33993  15350
33909  11059
21842   9590
33974   9345
...      ...
78418      1
64081      1
32279      1
00859      1
60190      1

[9528 rows x 1 columns]

In [12]:
len(result_df.loc[result_df['state'] == "157116134057"])

0